ul {
  font-size: 28px;
  list-style: none;
  font-family: "fira-sans";
  font-weight: 600;
  color: rgb(9, 29, 2);
  margin: 50px auto;
  width: 850px;
  padding: 0;
  height: 890px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-family: "Oswald";
}

p {
  background-color: rgb(107, 151, 4);
  color: aliceblue;
  border-radius: 13px;
  padding: 15px;
  margin-top: 70px;
}
a {
  font-size: 46px;
  font-weight: 450;
  color: aliceblue;
  margin: auto;
  background-color: rgb(107, 151, 4);
  padding: 22px;
  border-radius: 16px;
  display: inline;
}

a:hover {
  text-decoration: none;
  color: aliceblue;
  background-color: rgb(79, 114, 0);
}

li {
  background-color: rgb(229 179 113);
  border-radius: 12px;
  font-size: 34px;
  padding: 9px;
  display: block;
  margin: 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

li p {
  background-color: rgb(229 179 113);
  font-size: 40px;
  border-radius: 0;
  margin: 40px;
  color: rgb(9, 29, 2);
  padding: 0px;
  font-weight: 400;
}

ul h2 {
  color: rgb(2, 3, 2);
  font-weight: 600;
}

.important-ones {
  background-color: rgb(161, 126, 80);
  font-weight: 500;
}

.important-ones-oswald {
  background-color: rgb(161, 126, 80);
  font-weight: 700;
  text-decoration: underline;
}
