body {
  text-align: center;
  background-color: rgb(247, 225, 198);
  color: #174606;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
}

p {
  font-size: 30px;
  color: rgb(145, 40, 40);
  font-family: "Fira Sans", sans-serif;
  font-weight: 450;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(145, 40, 40);
}

a:hover {
  text-decoration: underline;
  color: rgb(150, 150, 110);
}
