body {
  margin: 0;
  font-family: "quicksand", sans-serif;
}

.logo a {
  font-size: 52px;
  text-decoration: none;
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  font-size: 50px;
  color: rgb(159, 250, 12);
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

a {
  text-decoration: none;
}
