body {
  margin: 0;
  font-family: "quicksand", sans-serif;
}

ul {
  list-style: none;
  padding-right: 60px;
  margin: 0;
  text-decoration: none;
  display: flex;
  width: 270px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

a {
  color: black;
  font-size: 24px;
  text-decoration: none;
}

ul a {
  font-size: 20px;
}

.logo a {
  font-size: 52px;
  text-decoration: none;
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  font-size: 50px;
  color: rgb(159, 250, 12);
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  display: block;
  padding-left: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
}

a:hover {
  font-weight: 600;
}

.hero-section {
  background-color: rgba(107, 156, 156, 0.7);
  height: 470px;
  margin: 0;
  padding-top: 100px;
  background-image: url(./assets/places/ocean.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  background-color: rgba(97, 91, 91, 0.7);
  font-size: 20px;
  border-radius: 22px;
  width: 500px;
  text-align: center;
}

.hero-text a {
  font-size: 20px;
  background-color: chartreuse;
  width: 300px;
  justify-content: center;
  display: flex;
  text-align: center;
  margin-left: 100px;
  border-radius: 6px;
  padding: 9px;
}
