body {
  margin: 0;
  padding: 0;
  font-family: "quicksand", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding-right: 60px;
  margin: 0;
  text-decoration: none;
  display: flex;
  width: 270px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

a {
  color: black;
  font-size: 24px;
  text-decoration: none;
}

ul a {
  font-size: 22px;
  color: rgb(159, 250, 12);
  font-weight: 600;
  padding: 10px;
  text-shadow: -1px 1px, 1px rgb(58, 0, 0);
}

ul a:hover {
  color: rgb(95, 33, 33);
  background-color: rgb(159, 250, 12);
  border-radius: 6px;
}

.logo a {
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  font-size: 50px;
  color: rgb(159, 250, 12);
  text-transform: uppercase;
  text-shadow: -6px 6px 7px rgb(58, 0, 0);
  display: block;
  padding-left: 20px;
}

a:hover {
  font-weight: 600;
}

.hero-section {
  background-color: rgba(107, 156, 156, 0.7);
  height: 470px;
  margin: 0;
  padding-top: 170px;
  background-image: url(./assets/places/ocean.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  background-color: rgba(43, 41, 41, 0.7);
  font-size: 20px;
  border-radius: 22px;
  width: 500px;
  text-align: center;
  color: aliceblue;
}

.hero-text a {
  font-size: 20px;
  background-color: chartreuse;
  width: 300px;
  justify-content: center;
  display: flex;
  text-align: center;
  margin-left: 100px;
  border-radius: 6px;
  padding: 9px;
  position: relative;
  top: 20px;
}

.hero-text h1 {
  padding-bottom: 20px;
  margin: 0px;
  font-family: "raleway";
}

.hero-text p {
  padding-bottom: 20px;
  margin: 0px;
}

.lower-section {
  background-color: aquamarine;
  height: 500px;
  padding: 0px;
  margin: 0px;
  text-align: center;

  font-size: 34px;
}

.lower-section h2 {
  text-transform: uppercase;
  padding-top: 30px;
  margin: 0px;
  font-size: 35px;
  height: 31px;
  width: 100%;
}

.lower-section ul {
  display: flex;
  font-size: 19px;
  width: 90%;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 0px;
  padding-top: 70px;
}

.lower-section ul li img {
  width: 350px;
  height: 250px;
  border-radius: 30px;
}
